/**
* CSS styling for app header to ensure proper aesthetics for navbar 
*/

.link {
  border-radius: 200px;
}

a {
  color: white;
}

a:hover {
  color: #d8bfd8;
  text-decoration: none;
}

a:active {
  color: #393a44;
  text-decoration: none;
}
