.dark-violet {
    background-color: #3f334d;
    color: #EAF0CE;
}

.violet {
    background-color: #574360;
    color: #EAF0CE;
}

.dark-silver {
    background-color: #7D8491;
    color: #EAF0CE;
}

.light-silver {
    background-color: #C0C5C1;
    color: #3f334d;
}

.goldenrod {
    background-color: #EAF0CE;
    color: #3f334d;
}