.dark-violet {
  background-color: #3f334d;
  color: #eaf0ce;
}

.violet {
  background-color: #574360;
  color: #eaf0ce;
}

.dark-silver {
  background-color: #7d8491;
  color: #eaf0ce;
}

.light-silver {
  background-color: #c0c5c1;
  color: #3f334d;
}

.goldenrod {
  background-color: #eaf0ce;
  color: #3f334d;
}
